<div class="container">
    <h2>User form</h2>
    <div ng-controller="UserController" ng-init="userList()">
    <form >
        <input type="hidden" ng-model="users.id">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="users.firstName" placeholder="Enter First Name" >
        </div>
        <div class="form-group">
            <label >Last Name</label>
            <input type="text" class="form-control" ng-model="users.lastName"placeholder="Enter Last Name" >
        </div>
        <button type="submit" class="btn btn-default" ng-click="register(users)">Submit</button>
    </form>
        <br><a href="javascript:void(0);" ng-click="userList()" class="btn btn-default" role="button">User List</a>
        <table class="table" ng-hide="!values.length">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in values">
                <td>{{value.firstName}}</td>
                <td>{{value.lastName}}</td>
               <td><a href="javascript:void(0);" ng-click="editUser($index)" class="btn btn-default" role="button">Edit</a></td>
                <td><a href="javascript:void(0);" ng-click="deleteUser($index)" class="btn btn-default" role="button">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

